@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-centered-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}