// Colors
$primaryColor: #DA674A;

$lightenPrimaryColor: #FFAA67;

$flatGrayColor: rgb(230, 221, 199);

$secondaryColor: #39998E;

$grayColor: #f6f6f6;

$grayHighlightColor: #FFDC7C;

$darkGrayColor: #2B4D59;

$successColor: #50c14e;

$warningColor: #fabb3d;

$minBreakPoint: 769px;

$maxBreakPoint: 768px;

$backgroundGeneralColor: #edeff5;

$grayLinesColor: #dbdbdb;

$grayHoverColor: #eeeeee;

$menuItemTextColor: #202124;

$defaultFont: 'Open Sans', sans-serif;

$disabledGray: #939dbb;

$errorColor: #eb1010;

$tableText: #525354;

// Sizes control
$xs: 0;
$sm: 5px;
$lg: 10px;
$xl: 20px;

$font-xs: 0.8em;
$font-sm: 0.9em;
$font-lg: 1.2em;
$font-xl: 1.5em;

// Breakpoints
$smMin: 575px;
$mdMin:768px;
$lgMin: 991px;
$xlgMin:1199px;
