@import "./variables";
@import "./_mixins.scss";
@import "./_buttons.scss";
@import "./_tabs.scss";
@import "./_menu.scss";
@import "./_modal.scss";
@import "./_sidebar.scss";
@import "./_switch.scss";
@import "./_inputs.scss";
@import "./_dropdown.scss";
@import "./tables.scss";
@import "./_calendars.scss";
@import "./_alerts.scss";
@import "./_forms.scss";

/* App global styles */

.primaryFontColor {
  color: $primaryColor
}

.primaryFontColorLighten {
  color: $lightenPrimaryColor
}

.app-error-span {
  color: #eb1010;
  display: block;
  font-size: 0.7em;
  margin-top: 5px;
}

hr {
  margin: -1px 0px 0px;
  height: 1px;
  border: none;
  background-color: rgb(224, 224, 224);
}

a {
  text-decoration: none;
}

.Loader-Wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 400px;
  width: 100%;
}

.no-radius {
  border-radius: 0;
}

.no-button-right-margin {
  margin-right: 0px !important;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}