@import '../../resources/styles/_variables.scss';

.HeaderBasic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $primaryColor;

  &--top {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 40%;
    text-align: right;

    .ant-btn {
      background-color: $lightenPrimaryColor !important;
      border-color: $lightenPrimaryColor !important;
      color: $primaryColor;
      font-weight: 400 !important;
      font-size: 1.2rem;
  
      &:hover {
        background-color: $primaryColor !important;
        border-color: $lightenPrimaryColor !important;
        color: $lightenPrimaryColor;
      }
    }
  }

  &--search {
    width: 40%;
  }
}