@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './resources/styles/_variables.scss';
@import './resources//customStyles/normalize';


html,
body,
#root,
.full-height {
  height: 100%;
  display: flex;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: $backgroundGeneralColor !important;
  overscroll-behavior: none;
}